*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    color: #333;
    font-family: 'Popins',sans-serif;
}

h1{
    text-align: center;
    font-size: 24px;
    color: #d97706;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.35, ease-in-out, color 0.35 ease-in-out;
}

h1:hover{
    color: #facc15;
    transform: scale(1.05);
}

nav{
    text-align: center;
    margin-bottom: 20px;
}

nav a{
    text-decoration: none;
    color: #1e3a8a;
    margin: 0 115px;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
nav a:hover{
    color: #2563eb;
    transform: scale(1.1);
}
/* secntion & text */
section{
    text-align: center;
    padding: 20px;
}
p{
    border: 1px solid#232323;
    border-radius: 6px;
    font-size: 16px;
    margin: 15px auto;
    max-width: 700px;
    text-align: justify;
    color: #444;
    line-height: 1.9;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
p:hover{
    color: #222;
    transform: translateY(5px);
}
.highlight{
    color: #16a14a;
    font-weight: bold;
    background: #fef3c7;
    padding: 3px 6px;
    border: 1px solid #232323; 
    border-radius: 6px;
}
img{
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    max-width: 20%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
img :hover{
    transform: scale(1.05);
}
table{
    margin:20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font: 16px;
    background: #fff8dc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
h2{
    text-align: center;
}
th, td{
    padding: 12px 20px;
    border-bottom:1px solid#ddd;
}
th{
    background-color: #facc15;
    color: #92400e;
    height:bold;
}
tr:hover{
    background-color: #fde;
}
footer:hover{
    background-color:#fcd34d;
}